<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

     <!-- Site Metas -->
    <title>Adopta</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/resources/images/adoptar.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/resources/images/adoptar.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="/resources/css/style.css">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="/resources/css/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/resources/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/resources/css/custom.css">

  
  



    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="barber_version">

    <!-- LOADER -->
    <div id="preloader">
        <div class="cube-wrapper">
		  <div class="cube-folding">
			<span class="leaf1"></span>
			<span class="leaf2"></span>
			<span class="leaf3"></span>
			<span class="leaf4"></span>
		  </div>
		  <div class="mus">
			<img src="/resources/images/adoptar.png" height="50" alt="" />
		  </div>
		  <span class="loading" data-name="Loading">Cargando...</span>
		</div>
    </div><!-- end loader -->
    <!-- END LOADER -->

	<div class="top-add alert alert-light alert-dismissible">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>Bienvenido!</strong> a huellitas con amor.
	</div>
    <!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-dark">
			<div class="container">
				<a class="navbar-brand" href="/">
					<img src="/resources/images/adoptar.png" style="border-radius: 50%"  height="50" alt="" />
				</a>
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar top-bar"></span>
					<span class="icon-bar middle-bar"></span>
					<span class="icon-bar bottom-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
						<li class="nav-item active"><a class="nav-link" href="/adopta">Adopta</a></li>
						<li class="nav-item"><a class="nav-link" href="/donaciones">Donaciones</a></li>
						<li class="nav-item"><a class="nav-link" href="/sobre_nosotros">Sobre nosotros</a></li>
						<li class="nav-item"><a class="nav-link" href="/mascotas_extraviadas">Mascotas extraviadas</a></li>
						<% if (login) { %>
							<li class="nav-item"><a class="nav-link" href="#"><%=nombre%></a></li>
							<li class="nav-item"><a class="nav-link" href="/logout">Cerrar sesión</a></li>
						<% } else { %>
							<li class="nav-item"><a class="nav-link" href="/login2">Iniciar Sesion</a></li>
							<li class="nav-item"><a class="nav-link" href="/registro">Registro</a></li>
						<% } %>
						<% if (rol=="administrador") {%>
						<li class="nav-item"><a class="nav-link" href="/peticiones">Peticiones</a></li>
						<% } %>

					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->

	<!-- Page Content -->
	<div id="page-content-wrapper">		
		<div class="all-page-bar">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="title title-1 text-center">
							<div class="much">
								<img src="/resources/images/adoptar.png" style="border-radius: 10%" alt=""/>
							</div>
							
							<div class="title--heading">
								<h1 class="titulo">Adopta</h1>
							</div>
							<div class="clearfix"></div>
							
							
						</div>
						<!-- .title end -->
					</div>
				</div>
			</div>
		</div><!-- end all-page-bar -->
		
		
		<div id="services" class="section lb">
			<div class="container">
				<div class="section-title row text-center">
					<div class="col-md-8 offset-md-2">
						<small>Bienvenido a huellitas con amor</small>
						<h3>Adopta a un amigo peludo</h3>
						<hr class="grd1">
						<p class="lead">Expande a tu familia, adopta a un compañero peludo en tu hogar</p>
					</div>
					<% if (login && rol=="administrador") { %>
					<a class="btn btn-light btn-radius btn-brd grd1 effect-1" href="/formulario_adopcion">Ingresa informacion de la nueva mascota</a>
					<% } %>
					
				</div>
			</div><!-- end issue -->
		</div><!-- end title -->
			
						<div class="service-wrap text-center lastchild clearfix">
								<% for (let i = 0; i < adopcion.length; i++) { %>
								<div class="contenedor">
							<div class="fotos">
									<img src="<%= adopcion[i].foto_mascota %>"> 
								</div>
								
								<h2 class="titulo3-name"><strong><%= adopcion[i].nombre_mascota %></strong></h2>
								
								<h2 class="titulo3">
									<p><strong>Raza de la mascota</strong></p>
									<%= adopcion[i].raza %>
								</h2>
								<h2 class="titulo3">
									<p><strong>Fecha de nacimiento de la mascota</strong></p>
									<%= adopcion[i].fecha_nacimiento_mascota %>
								</h2>
								<h2 class="titulo3">
									<p><strong>Sexo de la mascota</strong></p>
									<%= adopcion[i].sexo_mascota %><br>
								</h2>
								<% if (rol == "administrador") {%>

					
								<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalBorrar<%= adopcion[i].Id_mascotas %>">Borrar a <%=adopcion[i].nombre_mascota%></button>


								<div class="modal fade" id="ModalBorrar<%= adopcion[i].Id_mascotas %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  								<div class="modal-dialog" role="document">
	    								<div class="modal-content">
	      									<div class="modal-header">
	        									<h5 class="modal-title" id="exampleModalabel">Advertencia</h5>
	        										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          											<span aria-hidden="true">&times;</span>
	        										</button>
	      									</div>
	      									<div class="modal-body">
	      										¿Realmente quieres borrar a <%=adopcion[i].nombre_mascota%>? este cambio es permanente
	      									</div>
	      									<div class="modal-footer">
	        									<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
	           									<a href="delete/<%=adopcion[i].Id_mascotas %>" class="btn btn-danger">Aceptar</a>
				      						</div>
									   </div>
									 </div>
								</div>


								

								<% } %>
								<% if (login) { %>
								<a class="btn btn-light btn-radius btn-brd grd1 effect-1" href="/formulario_adopcion_mascota">Adoptar a <%= adopcion[i].nombre_mascota %></a>
								<% } else { %>
					<a class="btn btn-light btn-radius btn-brd grd1 effect-1" href="/login2">Inicia sesion para adoptar a <%=adopcion[i].nombre_mascota%></a>
					<% } %>
									</div>
									<% } %>
								</div><!-- end issue -->



							</div><!-- end col -->
						
					</div><!-- end container -->
				</div><!-- end section -->

			</div><!-- end container -->
		</div><!-- end section -->




		<div class="copyrights">
			<div class="container">
				<div class="footer-distributed">
					<div class="footer-left">
						<p class="footer-links">
							<a href="#">Home</a>
							<a href="#">Blog</a>
							<a href="#">Pricing</a>
							<a href="#">About</a>
							<a href="#">Faq</a>
							<a href="#">Contact</a>
						</p>
						<p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">Huellitas con amor</a> Design By : <a href="https://html.design/">html design</a></p>
					</div>
				</div>
			</div><!-- end container -->
		</div><!-- end copyrights -->
	</div>




    

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="/resources/js/all.js"></script>
	<script src="/resources/js/responsive-tabs.js"></script>
    <!-- ALL PLUGINS -->
    <script src="/resources/js/custom.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    (function($) {
        "use strict";
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        smoothScroll.init({
            selector: '[data-scroll]', // Selector for links (must be a class, ID, data attribute, or element tag)
            selectorHeader: null, // Selector for fixed headers (must be a valid CSS selector) [optional]
            speed: 500, // Integer. How fast to complete the scroll in milliseconds
            easing: 'easeInOutCubic', // Easing pattern to use
            offset: 0, // Integer. How far to offset the scrolling anchor location in pixels
            callback: function ( anchor, toggle ) {} // Function to run after scrolling
        });
    })(jQuery);
    </script>

</body>
</html>