<!DOCTYPE html>
<html lang="en">

<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Site Metas -->
<title>Formulario mascotas extraviadas</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" href="/resources/images/adoptar.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="/resources/images/adoptar.ico">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/resources/css/bootstrap.min.css">
<!-- Site CSS -->
<link rel="stylesheet" href="/resources/css/stylecontact.css">
<!-- ALL VERSION CSS -->
<link rel="stylesheet" href="/resources/css/versions.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="/resources/css/responsive.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="/resources/css/custom.css">



<!-- [if lt IE 9]> -->

<!-- <![endif] -->

</head>

<body class="barber_version">
    <div class="top-add alert alert-light alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Has Ingresado con exito</strong>
    </div>
    <!-- Start header -->
    <header class="top-navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img style="width: 50px;border-radius: 50%" src="/resources/images/adoptar.png" alt="" />
                </a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar top-bar"></span>
					<span class="icon-bar middle-bar"></span>
					<span class="icon-bar bottom-bar"></span>
				</button>
                <div class="collapse navbar-collapse" id="navbars-rs-food">
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="/usuarios">usuarios</a></li>
                        <li class="nav-item"><a class="nav-link" href="/activos">activos</a></li>
                    
                        <% if (typeof login != "undefined") { %>
                            
                            <li class="nav-item"><a class="nav-link" href="/logout">Cerrar sesi칩n</a></li>
                        <% } else { %>
                            <li class="nav-item"><a class="nav-link" href="/login2">Iniciar Sesion</a></li>
                        <% } %>
                     
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <!-- End header -->

    <!-- Page Content -->
    <div id="contact" class="section wb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h3 class="titulo">Formulario nuevo usuario</h3>
                </div>
            </div>
            <!-- end title -->

            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="contact_form" style="box-shadow: 3px 3px 3px 3px black; border-radius: 30px;">
                        <div id="message"></div>
                        <form id="contactform" class="row" action="/formulario_nuevo_usuario" name="contactform" method="post">
                            <fieldset class="row row-fluid">
                                <div class="container">
                                    <div class="section-title row text-center">
                                        <div class="col-md-8 offset-md-2">
                                            <h3 class="titulo3">Informacion nuevo usuario</h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label class="label">Nombre completo</label>
                                    <input type="text" name="nombre_completo"  class="form-control" placeholder="documento del due침o" required>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label class="label">Nombre de usuario</label>
                                    <input type="text" name="nombre_usuario"  class="form-control" placeholder="nombre del due침o" required>
                                </div>

                                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label class="label">Contrase침a</label>
                                    <input type="password" name="contrasena" id="inputCorreo" class="form-control" placeholder="Tu Email" required>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label class="label">Estado</label>
                                 <select class="form-control" name="estado_usuario">
                                    <option value="1">Activo</option>
                                    <option value="0">Inactivo</option>   
                                </select>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                    <button onclick="validarDatos()" type="submit" value="SEND" id="enviar" class="btn btn-light btn-radius btn-brd grd1 btn-block subt">Enviar</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end section -->




    
   



    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>


    <script type="text/javascript" src="/resources/js/registro.js"></script>
    <script src="/resources/js/responsive-tabs.js"></script>
    <script src="/resources/js/custom.js"></script>
    <script src="/resources/js/all.js"></script>


    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <% if(typeof alert != "undefined") {%>

        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: '<%= showConfirmButton %>',
                timer: '<%= timer %>'
            }).then(() => {
                window.location = '/<%= ruta %>'
            })
        </script>
        <% } %>
</body>

</html>