<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>Iniciar sesion</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/resources/images/miku.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/resources/images/miku.ico">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="/resources/css/stylecontact.css">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="/resources/css/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/resources/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/resources/css/custom.css">

 

    <!-- [if lt IE 9]> -->
      
    <!-- <![endif] -->

</head>

<body class="barber_version">
	<div class="top-add alert alert-light alert-dismissible">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>Has Ingresado con exito</strong>
	</div>
    <!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-dark">
			<div class="container">
				<a class="navbar-brand" href="/">
					<img style="height: 50px;border-radius: 50%" src="/resources/images/miku.ico" alt="" />
				</a>
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar top-bar"></span>
					<span class="icon-bar middle-bar"></span>
					<span class="icon-bar bottom-bar"></span>
				</button>
			</div>
		</nav>
		
	</header>
	<div id="contact" class="section wb">
			<div class="container">
				<div class="section-title row text-center">
					<div class="col-md-8 offset-md-2">
						<small>Bienvenido de nuevo</small>
						<h3 class="titulo">Iniciar sesión</h3>
					</div>
				</div><!-- end title -->

				<div class="row">
					<div class="col-md-8 offset-md-2">
						<div class="contact_form">
							<div id="message"></div>
							<form id="contactform" class="row" action="/auth" name="contactform" method="POST">
								<fieldset class="row row-fluid">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<input type="text" name="input_documento" id="input_documento" class="form-control" placeholder="Usuario" required>
									</div>
									
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<input type="password" name="pass" id="inputContrasena" class="form-control" placeholder="Introduce la contraseña" required>
									</div>
									
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									
									</div>

									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										
									</div>		

									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
										<button onclick="validarDatos()" type="submit" value="SEND" id="enviar" class="btn btn-light btn-radius btn-brd grd1 btn-block subt">Enviar</button>
									</div>
								</fieldset>
							</form>
						</div>
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
		</div><!-- end section -->
		<div style="text-align: center;">
		
		<div class="map-box">
			<div class="container-fluid">
				<div id="map"></div>
			</div><!-- end container -->
		</div><!-- end section -->

	

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

 
    <script type="text/javascript"src="/resources/js/registro.js"></script>
    <script src="/resources/js/responsive-tabs.js"></script>
    <script src="/resources/js/custom.js"></script>
    <script src="/resources/js/all.js"></script>


    
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

	<% if(typeof alert != "undefined") {%>

	<script>
		Swal.fire({
			title: '<%= alertTitle %>',
			text: '<%= alertMessage %>',
			icon: '<%= alertIcon %>',
			showConfirmButton: '<%= showConfirmButton %>',
			timer: '<%= timer %>'
		}).then(()=> {
			window.location='/<%= ruta %>'
		})
	</script>
	<% } %>
</body>
</html>