<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

     <!-- Site Metas -->
    <title>usuarios</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/resources/images/miku.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/resources/images/adoptar.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="/resources/css/style.css">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="/resources/css/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/resources/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/resources/css/custom.css">

  
  



    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="barber_version">

    <!-- LOADER -->
    <div id="preloader">
        <div class="cube-wrapper">
		  <div class="cube-folding">
			<span class="leaf1"></span>
			<span class="leaf2"></span>
			<span class="leaf3"></span>
			<span class="leaf4"></span>
		  </div>
		  <div class="mus">
			<img src="/resources/images/miku.ico" height="50" alt="" />
		  </div>
		  <span class="loading" data-name="Loading">Cargando...</span>
		</div>
    </div><!-- end loader -->
    <!-- END LOADER -->

	<div class="top-add alert alert-light alert-dismissible">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>Bienvenido!</strong> a huellitas con amor.
	</div>
    <!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-dark">
			<div class="container">
				<a class="navbar-brand" href="/">
					<img src="/resources/images/miku.ico" style="border-radius: 10%"  height="50" alt="" />
				</a>
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar top-bar"></span>
					<span class="icon-bar middle-bar"></span>
					<span class="icon-bar bottom-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
						
						<li class="nav-item active"><a class="nav-link" href="/adopta">usuarios</a></li>
						<li class="nav-item"><a class="nav-link" href="/activos">activos</a></li>
					
						<% if (login) { %>
							
							<li class="nav-item"><a class="nav-link" href="/logout">Cerrar sesión</a></li>
						<% } else { %>
							<li class="nav-item"><a class="nav-link" href="/login2">Iniciar Sesion</a></li>
						<% } %>
					

					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->

	<!-- Page Content -->
	<div id="page-content-wrapper">		
		<div class="all-page-bar">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="title title-1 text-center">
							<div class="much">
								<img src="/resources/images/adoptar.png" style="border-radius: 10%" alt=""/>
							</div>
							
							<div class="title--heading">
								<h1 class="titulo">Usuarios</h1>
							</div>
							<div class="clearfix"></div>
							
							
						</div>
						<!-- .title end -->
					</div>
				</div>
			</div>
		</div><!-- end all-page-bar -->
		
		
		<div id="services" class="section lb">
			<div class="mlo">
				<div class="section-title row text-center">
					<% if (login) { %>
					<a class="btn btn-light btn-radius btn-brd grd1 effect-1" href="/formulario_nuevo_usuario">Ingresa un nuevo usuario</a>

					<a href="activos" class="btn btn-light btn-radius btn-brd grd1 effect-1">ver usuarios activos</a>
					
					
				</div>
			</div><!-- end issue -->
		</div><!-- end title -->
			
						<div class="service-wrap text-center lastchild clearfix">


							


  <div class="container">
        <div class="text-center">
            <table class="table table-striped">
                <tr>
                    <th>Nombre completo</th>
                    <th>Nombre de usuario</th>
                    <th>Fecha creacion de la cuenta</th>
                    <th>Ultima edicion datos</th>
                    <th>Estado</th>
                   
                    <th>Borrar</th>
                    <th>Editar</th>
                </tr>
                <% for (let i = 0; i < usuario.length; i++) { %>
                    <tr>
                        <th><%= usuario[i].nombre_completo_usuario %></th>
                        <th><%= usuario[i].nombre_usuario %></th>
                        <th><%= usuario[i].fecha_creacion%></th>
                        <th><%= usuario[i].fecha_edicion %></th>
                        <% if (usuario[i].estado_usuario == 1) { %>
                        <th>activo</th>
                        <% } else { %>
                        <th>inactivo</th>
                        <% } %> 
                        

                        <th>
								<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalBorrar<%= usuario[i].id_usuario %>">Borrar a <%=usuario[i].nombre_usuario%></button>
						</th>
                        <th> <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Editar
  </button></th>
                    </tr>

                    <!-- Modal Borrar -->
                    <div class="modal fade" id="ModalBorrar<%= usuario[i].id_usuario %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  								<div class="modal-dialog" role="document">
	    								<div class="modal-content">
	      									<div class="modal-header">
	        									<h5 class="modal-title" id="exampleModalabel">Advertencia</h5>
	        										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          											<span aria-hidden="true">&times;</span>
	        										</button>
	      									</div>
	      									<div class="modal-body">
	      										¿Realmente quieres borrar a <%=usuario[i].nombre_usuario%>? este cambio es permanente
	      									</div>
	      									<div class="modal-footer">
	        									<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
	           									<a href="delete/<%=usuario[i].id_usuario %>" class="btn btn-danger">Aceptar</a>
				      						</div>
									   </div>
									 </div>
								</div>
				

    <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      	<div class="modal-content">
        	<div class="modal-header">
          		<h4 class="modal-title">Modal Heading</h4>
          		<button type="button" class="close" data-dismiss="modal">&times;</button>
        	</div>
        <div class="modal-body">
        	<form action="/edit/<%=usuario[i].id_usuario%>" method="post">
        		<label>Nombre usuario</label>
       				<input  class="form-control" type="text" name="nuevo_nombre_usuario" required>
       			<label>nombre completo</label>
       				<input  class="form-control" type="text" name="nuevo_nombre_completo_usuario" required>
       			<label>Estado usuario</label>
       				 <select class="form-control" name="estado_usuario">
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>   
                     </select>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" href="/edit/<%=usuario[i].id_usuario%>" data-dismiss="modal">Close</button>
        </div>
        	<input type="submit" name="">
        </form>
      </div>
    </div>
  </div>
  
</div>
 <% } %>

    <div class="container">

  
									<% } else { %>
									<a href="/">iniciar sesion</a>
									<% } %>
    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
    </div>

    <!-- ALL JS FILES -->
    <script src="/resources/js/all.js"></script>
	<script src="/resources/js/responsive-tabs.js"></script>
    <!-- ALL PLUGINS -->
    <script src="/resources/js/custom.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    (function($) {
        "use strict";
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        smoothScroll.init({
            selector: '[data-scroll]', // Selector for links (must be a class, ID, data attribute, or element tag)
            selectorHeader: null, // Selector for fixed headers (must be a valid CSS selector) [optional]
            speed: 500, // Integer. How fast to complete the scroll in milliseconds
            easing: 'easeInOutCubic', // Easing pattern to use
            offset: 0, // Integer. How far to offset the scrolling anchor location in pixels
            callback: function ( anchor, toggle ) {} // Function to run after scrolling
        });
    })(jQuery);
    </script>

</body>
</html>